<div class="ui comments">
    <div class="comment">
        <a class="avatar" style="border-radius:50%; width:40px; height:40px">
        <%= image_tag(message.user.avatar) if message.user.avatar.attached? %>
        </a>
            <div class="content fluid">
            <a class="author ui header"><%= message.user.username if message.user.username.present? %></a>
            <div class="metadata">
                <div class="date"><%= time_ago_in_words(message.created_at)%> ago</div>
            </div>
            <div class="text">
                <%= message.content %> 
                <div class="ui icon top left pointing dropdown ">
                <% if message.user == current_user %>
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item">
                            <i class="trash icon"></i>
                                <%= link_to 'Delete', message, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>